.blockCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flexCenter{
display: flex;
align-items: center;
justify-content: center;
gap: 4px;
}

.width100{
    width: 100%;
    background-color:black;
}

.textColor{
    color: white;
}

.buttonStyle{
    background-color: black;
    border: none;
    margin-top: 15px;
    width: 100%;
    color: white;

}

.buttonStyle:hover{
    background-color: rgb(57, 57, 57);
}




  .title{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
  }


  .center{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 10px;
  }

  


  .figureContainer {
  
    fill: transparent;
    stroke: black;
    stroke-width: 4px;
    stroke-linecap: round;
    margin-top: 5%;
    margin-left: 8%;
    
  }
  
  .figure-part {
    display: none;
  }

  .word {
    display: flex;
    position: absolute;
    /* bottom: 10px; */
    left: 50%;
    transform: translateX(-50%);
    
  }
  
  .letter {
    border-bottom: 3px solid #000000;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
    height: 50px;
    width: 35px;
  
  }

  .gameContainer {
    padding: 20px 30px;
      /* position: relative; */
    margin: auto;
    height: 350px;
    width: 700px;
  }

  .wrongLettersContainer {
    position: absolute;
    /* top: 15px; */
    /* right: 20px; */
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .wrongLettersContainer p {
    margin: 0 0 5px;
    font-weight: bold;
  }
  
  .wrongLettersContainer span {
    font-size: 24px;
  }


  .notificationContainer {
    background-color: rgba(41, 141, 213, 0.3);
    border-radius: 10px 10px 10px 10px;
    padding: 15px 20px;
    /* position: absolute; */
    /* align-items: center; */
    width: 47%;
    bottom: -50px;
    transition: transform 0.3s ease-in-out;
    margin-left: 28%;
    margin-top: 16%;
  }
  
  .notificationContainer p {
    margin: 0;
  }
  
  .notificationContainer.show {
    transform: translateY(-50px);
  }
 

  .startAgain {
    background-color: black;
    border: none;
    margin-top: 50px;
    margin-bottom: 0px;
    width: 40%;
    height: 40px;
    color: white;
    align-items: center;
    text-align: center;
    margin-left: 30%;
  }

  .startAgain:hover{
    background-color: rgb(57, 57, 57);

  }