.blockCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flexCenter{
display: flex;
align-items: center;
justify-content: center;
gap: 4px;
}

.width100{
    width: 100%;
    background-color:black;
}

.textColor{
    color: white;

}

.buttonStyle:hover{
  background-color:#900390;
  
}
.buttonStyle{
  border: none;
  width: 100% ;
  margin-top: 5%;
  background-color:purple;

}

.navBarbg{
  background-color: purple;
}

.selectwordDiv{
  height: 70%;
  width: 30%;
  background-color: white;
  padding-top: 2%;
  border: solid 2px purple;
  padding:2%;
}
.gameTitle{
  color:white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 40%;
}

.selectedWordLength{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: purple;
  margin-top: 30%;
  margin-bottom: 6%;

}


.gameTitle:hover{
  color: white;
}

  .title{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    color: purple;
  }

  .wrongGuesses{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    color: purple;
  }


  .center{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

  
.logoutButton{
  background-color: purple;
}

  .figureContainer {
  
    fill: transparent;
    stroke: purple;
    stroke-width: 4px;
    stroke-linecap: round;
    margin-top: 5%;
    margin-left: 8%;
    
  }
  
  .figure-part {
    display: none;
  }

  .word {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color:purple;
    
  }
  
  .letter {
    border-bottom: 3px solid purple;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
    height: 50px;
    width: 35px;
  
  }

  .gameContainer {
    padding: 20px 30px;
    margin: auto  ;
    height: 100%;
    width: 700px;
    margin-top: 10%;
    border: solid 2px purple;
  }

  .wrongLettersContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .wrongLettersContainer p {
    margin: 0 0 5px;
    font-weight: bold;
  }
  
  .wrongLettersContainer span {
    font-size: 24px;
  }
  
  .startAgain {
    background-color: purple;
    border: none;
    margin-top: 50px;
    margin-bottom: 0px;
    width: 40%;
    height: 40px;
    color: white;
    align-items: center;
    text-align: center;
    margin-left: 30%;
  }

  .startAgain:hover{
    background-color:#900390;

  }